name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  jobs:
    deploy:
      name: Deploy to EC2
      runs-on: ubuntu-latest

      steps:
        - name: Checkout the code
          uses: actions/checkout@v3

        - name: Execute remote SSH commands using SSH key
          uses: appleboy/ssh-action@v1
          with:
            host: 13.233.64.133
            username: ubuntu
            key: ${{ secrets.PRIVATE_SSH_KEY }}
            port: 22
            script: whoami
